{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">

		<!-- My stylesheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/custom_main.css' %}?{% now 'U' %}">
		<link rel="stylesheet" href="{% static 'dashboard/custom_index.css' %}?{% now 'U' %}" type="text/css">
    	<link rel="stylesheet" href="{% static 'dashboard/plant_detail.css' %}?{% now 'U' %}" type="text/css">
    	<link rel="stylesheet" href="{% static 'dashboard/plant_add.css' %}?{% now 'U' %}" type="text/css">

		<!-- Fusion Charts -->
    	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
		<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
		<!--<script type="text/javascript" src="{% static 'dashboard/js/fusioncharts.js' %}"></script>-->

	</head>
  	<body id="index">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		    <div class="container">
		        <a class="navbar-brand" id="nav_title" href="{% url 'dash_index' %}">Garden Dashboard</a>
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                	<div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="{% url 'settings_page' garden.pk %}">Settings</a>
	                    </div>
	                </li>
	                <li>
	                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="{% url 'logout' %}">Logout</a>
	                    </div>
                	</li>
            	</ul>
		    </div>

		</nav>

		<div class="container" id="cards">
		    {% block page_content %}{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>