#card-add { 
	margin-top: 2.8em;
	background: white;
	padding: 1em;
	border-style: solid;
	border-color: white;
	border-radius: 1em;
}

#submit-button {
	position: absolute;
    z-index: 11;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #00cfb1;
	font-size: 1em;
	font-weight: 700;
	border-style: solid;
	border-color: #00cfb1;
	border-radius: 2em;
	width: 9em;
	height: 3em;
	top: -1em;
}

#submit-button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.submit-button-holder {
	position: relative;
	width: 100%;
	left: -4.5em;
	text-align: center;
	height: 100%;
}